*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
}

header{
    
    width: 100vw;
}
header p{

    padding: 10px;
    background-color: #D1891C;
}
h1{
    padding: 10px;
    background-color: #00669F;
    margin-bottom: 10%;
}

main section{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}
.soloDesktop{
    display: none;
}
article{
    display: flex;
    flex-direction: column;
    position: relative;
    /* max-width: 50vw;
    min-width: 340px; */
    width: 492px;
    margin-bottom: 20px;
    height: 700px;
    border: solid 1px red;
    background-color: #F3F3F3;
}
.base{
    /* font-size: 0; */
    width: 100%;
    border-radius: 8% 8% 0 0;
}

.logo{
    position: absolute;
    border-radius: 50%;
    top: calc();
    top: 20%;
    width: 50%;
    left: 25%;
}
.corazon{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10%;
}
h2{
    font-size: 30px;
    padding-top: 105px;
    text-align: center;
    background-color: #F3F3F3;
}
article p{
    
    height: 75%;
    font-size: 20px;
    padding: 10px 15px 70px;
    background-color: #F3F3F3;
    border: solid 1px rebeccapurple;
}

button{
    position: absolute;
    left: 35%;
    bottom: 20px;
    border-bottom-style: solid;
    background-color: #00669F;
    padding: 12px 25px;
    
}

footer section{
    display: flex;
    background: #00669F;
    padding: 47px;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;


}

footer section p{
    max-width: 80%;
    font-size: 16px;
    /* font-size: 100%; */
}

.imagenFooter{
    max-width:  20%;
    
}
@media (min-width:700px){
    .soloDesktop{
        display: flex;
    }
    article{
        max-width: 350px;
    }
    .logo{
        position: absolute;
        
    }

    footer section p{
        font-size: 21px;
    }
}