*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
}

header{
    width: 100vw;
}
header p{
    background-color: #D1891C;
}
h1{
    background-color: #00669F;
    margin-bottom: 10%;
}

section{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.soloDesktop{
    display: none;
}
article{
    font-size: 0px;
    position: relative;
    max-width: 50vw;
    /* height: 600px; */
    border: solid 1px red;
}
.base{
    font-size: 0;
    width: 100%;
}
.contenedorImagenLogo{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    
    border: solid 1px green;
}
.logo{
    
    border-radius: 50%;
    
    width: 100%;
    
}
.corazon{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10%;
}
h2{
    font-size: 30px;
    padding-top: 105px;
    text-align: center;
    background-color: #F3F3F3;
}
article p{
    font-size: 16px;
    padding: 10px 15px 70px;
    background-color: #F3F3F3;
}

button{
    position: absolute;
    left: 40%;
    bottom: 10px;
    
}

@media (min-width:700px){
    .soloDesktop{
        display: block;
    }
    article{
        max-width: 350px;
    }
}