/* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
} */

header{
    width: 100vw;
}
header p{
    background-color: #D1891C;
}
h1{
    background-color: #00669F;
    margin-bottom: 10%;
}

section{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
}
.soloDesktop{
    display: none;
}
article{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 50vw;
    margin-bottom: 20px;
    /* height: 1600px; */
    border: solid 1px red;
}
.base{
    /* font-size: 0; */
    width: 100%;
}

.logo{
    position: absolute;
    border-radius: 50%;
    
    width: 100%;
    
}
.corazon{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10%;
}
h2{
    font-size: 30px;
    padding-top: 105px;
    text-align: center;
    background-color: #F3F3F3;
}
article p{
    
    height: 35%;
    font-size: 16px;
    padding: 10px 15px 70px;
    background-color: #F3F3F3;
    border: solid 1px rebeccapurple;
}

button{
    position: absolute;
    left: 40%;
    bottom: 10px;
    
}

@media (min-width:700px){
    .soloDesktop{
        display: block;
    }
    article{
        max-width: 350px;
    }
    .logo{
        position: absolute;
        border-radius: 50%;
        
        width: 100%;
        
    }
}